chatgpt-clone-vue-main.zip
langchain-nunsys-back.code-workspace
Prueba Técnica LLM - Ingeniero de IA.docx
langchain-nunsys-back/.venv
langchain-nunsys-back/__pycache__
langchain-nunsys-front/.vscode
.~lock.Prueba Técnica LLM - Ingeniero de IA.docx#
